<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Elite Calculator</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <!-- style css -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">
    <!-- fevicon -->
    <link rel="icon" href="{{url_for('static',filename='images/fevicon.png')}}" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/jquery.mCustomScrollbar.min.css')}}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <!-- <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->

    <!--icon on title of the page-->
    <link rel="icon" href="{{url_for('static',filename='images/230x0w.webp')}}" type="image/x-icon">
    <script type="text/Javascript" rc="{{url_for('static',filename='calculation/brick.js')}}"></script>
</head>
<!-- body -->

<body class="main-layout inner_page">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{{url_for('static',filename='images/loading.gif')}}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header class="full_bg">
        <!-- header inner -->
        <div class="header1">
            <div class="header_top">
                <div class="container">
                    <div class="row">
                        <!-- <div class="col-md-6">
                        <ul class="social_icon_top text_align_center  ">
                           <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                     </div> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header_bottom">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                                    <div class="full">
                                        <div class="center-desk">
                                            <div class="logo">
                                                <a href="/">Elite Calculator</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                            data-target="#navbarsExample04" aria-controls="navbarsExample04"
                                            aria-expanded="false" aria-label="Toggle navigation">
                                            <span class="navbar-toggler-icon"></span>
                                        </button>
                                        <div class="collapse navbar-collapse" id="navbarsExample04">
                                            <ul class="navbar-nav mr-auto">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/">Home</a>
                                                </li>
                                                <li class="nav-item">
                                                    <div class="dropdown ">
                                                        <button class="btn dropdown-toggle nav-link" type="button"
                                                            data-toggle="dropdown">Calculator
                                                            <span class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            {% for master_rows in master_rows %}
                                                                <li><a href="{{url_for('calculatorList',E_id=master_rows[0])}}">{{master_rows[1]}}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/about">About</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/contact">Contact Us</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="search">
                                            <li><a href="Javascript:void(0)"><i class="fa fa-search"
                                                        aria-hidden="true"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
        <!-- end header -->
        <!-- banner -->
    </header>
    <!-- end banner -->
    <div class="back_re">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2 class="update">BRICK MASONRY CALCULATOR</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- input -->
    <form action='/brick_calculator' method='post'>
        <div class="contact">
                <!-- <input type="checkbox" checked data-toggle="toggle" data-on="Ready" data-off="Not Ready" data-onstyle="success" data-offstyle="danger"> -->
                <div class="container">
                    <label class="switch">
                        <input type="checkbox" id="convert" name="convertToFeet">
                        <span class="slider"></span>
                        <span class="on" id="meter">Meter/CM</span>
                        <span class="off" id="feet">Feet/Inch</span>
                    </label>
    
                        <!-- <script>
                        const toggleSwitch = document.getElementById('switch');
                        toggleSwitch.addEventListener('change', () => {
                        if (toggleSwitch.checked) {
                            window.location.href = "about.html";
                        }
                        });
                        </script> -->
                    <div class="row">
                        <div class="col-md-6 padding_right0">
                            <div id="request" class="main_form1">
                                <div class="row">
                                    <h3 class="col-md-12">Wall dimension</h3>
                                    <div class="col-md-12 ">
                                        <label class="col-md-12" id="wall_length">Length</label>
                                        <input class="contactus1" type="text"  id="w_length" name="w_length">
                                    </div>
                                    <div class="col-md-12">
                                        <label type="text" id="wall_height" class="col-md-12" >Height/Depth</label>
                                        <input class="contactus1" type="text"  id="w_width" name="w_width">
                                    </div>
                                    <div class="col-md-12">
                                        <label type="text" id="wall_thick" class="col-md-12" >Thickness (in centi-meter)</label>
                                        <input class="contactus1" type="text"  id="w_thick" name="w_thick">
                                    </div>  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding_right0">
                            <div id="request" class="main_form1">
                                <div class="row">
                                    <h3 class="col-md-12">Brick dimension(in cm)</h3>
                                    <div class="col-md-12 ">
                                        <label class="col-md-12" id="brick_length">Length</label>
                                        <input class="contactus1" type="text"  id="b_length" name="b_length"> 
                                    </div>
                                    <div class="col-md-12">
                                        <label type="text" id="brick_height" class="col-md-12" >Width</label>
                                        <input class="contactus1" type="text"  id="b_width" name="b_width">
                                    </div>
                                    <div class="col-md-12">
                                        <label type="text" id="brick_thick" class="col-md-12" >Height</label>
                                        <input class="contactus1" type="text"  id="b_height" name="b_height">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padding_right0">
                            <div id="request" class="main_form1">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label id="ratio" name="ratio" class="col-md-12">Ratio</label><br>
                                        <select id="input" class="col-md-6 contactus1" name="bg">
                                            <option value="1" >C.M 1:3</option>
                                            <option value="2" selected>C.M 1:4</option>
                                            <option value="3" >C.M 1:5</option>
                                            <option value="4" >C.M 1:6</option>
                                            <option value="5" >C.M 1:7</option>
                                            <option value="6" >C.M 1:8</option>
                                            <option value="7" >C.M 1:9</option>
                                        </select>
                                    </div>
                                </div>
                                <div class ="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="calculate" value="Calculate">
                                        <!-- <input type="button"  onclick="brickcal()" value="Calci"> -->
                                        <button type="reset" class="reset" id="reset">Reset</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <h3 class="col-md-12"> Result </h3>
                                    <div class="col-md-12 ">
                                        <label class="col-md-12" id="total_bricks">No. of Bricks</label>
                                        <input class="contactus1" type="type" id="total_brick" value="{{no_of_brick}}" disabled>
                                    </div>
                                    <div class="col-md-12">
                                        <label type="text" id="cheight" class="col-md-12" >Cement(in bags)</label>
                                        <input class="contactus1" type="type" id="cement_amount" value="{{cement_ratio}}" disabled>
                                    </div>
                                    <div class="col-md-12">
                                        <label type="text" id="cthick" class="col-md-12" >Sand(in ton)      </label>
                                        <input class="contactus1" type="type" id="sand_amount" value="{{sand_ratio}}" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
    <!-- input end -->
    <!--  footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 offset-lg-1 col-md-6">
                        <h3>QUICK LINKS</h3>
                        <ul class="link_menu">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about"> About</a></li>
                            <!-- <li><a href="project.html">Projects</a></li>
                        <li><a href="staff.html">Staff</a></li> -->
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <p>© 2019 All Rights Reserved. Design by <a href="#">Organisation</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery-3.0.0.min.js')}}"></script>
    <!-- sidebar -->
    <script src="{{url_for('static',filename='js/jquery.mCustomScrollbar.concat.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/custom.js')}}"></script>
    <script src="{{url_for('static',filename='calculation/brick.js')}}"></script>
</body>

</html>